<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://kit.fontawesome.com/d6d37bc5f8.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <div class="footer">
        <div class="col1"><h1>Links</h1>
            <br>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="#">Shop</a>
        <a href="#">Blog</a>
    </div>
        <div class="col2">
            <h1>NewsLetter</h1>
            <form>
                <input type="text" placeholder="Your Email Address">
                <br>
                <button  class="btn" type="submit">SUBSCRIBE NOW</button>
            </form>
        </div>
        <div class="col3">
            <h1>Address</h1>
            <br>
            <P>134, NSR Road, <br>Coimbatore, Tamil Nadu, India <br>600 041.</P>
            <!-- <ul class="social-media">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul> -->
       
        <!-- <div class="social-icons" >
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-github"></i>
        </div> -->
    </div>
        
        <div class="col4">
            <h1>License</h1>
            <br>
            <h4>© 2001 – 2023 Chevron Corporation.<br>
                All rights reserved.</h4>
            <a href="#">Terms</a>
            <br>
            <a href="#">PrivacyPolicy</a>
        </div>
    </div>
   
    
</body>
</html>